{% extends "layouts/base.html" %}

{% block title %} Assign Future Role {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Hasil Assessment</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-future-role.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Assessment For Murdoko</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="col-xl-8 col-md-6">
                <div class="card Recent-Users">
                    <div class="card-header">
                        <h5>Hasil Asessment</h5>
                    </div>
                    <div class="card-block px-0 py-3">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <tr class="unread">
                                        
                                        <td>
                                            <h6 class="mb-1">Hasil Assessment JFReport110120</h6>
                                            <p class="m-0">Lorem Ipsum is simply…</p>
                                        </td>
                                        <td>
                                            <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 12:56</h6>
                                        </td>
                                        <td><a href="#!" class="label theme-bg2 text-white f-12">Send</a><a href="#!" class="label theme-bg text-white f-12">Download</a></td>
                                    </tr>
                                    <tr class="unread">
                                        
                                        <td>
                                            <h6 class="mb-1">Hasil Assessment JFReport080120</h6>
                                            <p class="m-0">Lorem Ipsum is simply text of…</p>
                                        </td>
                                        <td>
                                            <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>11 MAY 10:35</h6>
                                        </td>
                                        <td><a href="#!" class="label theme-bg2 text-white f-12">Send</a><a href="#!" class="label theme-bg text-white f-12">Download</a></td>
                                    </tr>
                                    <tr class="unread">
                                        
                                        <td>
                                            <h6 class="mb-1">Hasil Assessment JFReport00120</h6>
                                            <p class="m-0">Lorem Ipsum is simply…</p>
                                        </td>
                                        <td>
                                            <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>9 MAY 17:38</h6>
                                        </td>
                                        <td><a href="#!" class="label theme-bg2 text-white f-12">Send</a><a href="#!" class="label theme-bg text-white f-12">Download</a></td>
                                    </tr>
                                    <tr class="unread">
                                        
                                        <td>
                                            <h6 class="mb-1">Hasil Assessment JFReport120121</h6>
                                            <p class="m-0">Lorem Ipsum is simply text of…</p>
                                        </td>
                                        <td>
                                            <h6 class="text-muted f-w-300"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>19 MAY 12:56</h6>
                                        </td>
                                        <td><a href="#!" class="label theme-bg2 text-white f-12">Send</a><a href="#!" class="label theme-bg text-white f-12">Download</a></td>
                                    </tr>
                                    <tr class="unread">
                                       
                                        <td>
                                            <h6 class="mb-1">Hasil Assessment JFReport120120</h6>
                                            <p class="m-0">Lorem Ipsum is simply dummy…</p>
                                        </td>
                                        <td>
                                            <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>21 July 12:56</h6>
                                        </td>
                                        <td><a href="#!" class="label theme-bg2 text-white f-12">Send</a><a href="#!" class="label theme-bg text-white f-12">Download</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
